<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website1</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <h1 class="title">Website1</h1>
            <nav>
                <ul>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="mainvisual">
            <div>
                <h2 class="section-title">Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ex nisi, molestie eget sagittis non, tempor a quam. Duis
                fringilla fermentum diam a faucibus.</p>
            </div>
        </section>
        <section class="gallery" id="gallery">
            <h2 class="section-title">Gallery</h2>
            <div class="tile">
                <div class="item"><img src="./img/mountain.png" alt=""></div>
                <div class="item"><img src="./img/mountain.png" alt=""></div>
                <div class="item"><img src="./img/mountain.png" alt=""></div>
                <div class="item"><img src="./img/mountain.png" alt=""></div>
                <div class="item"><img src="./img/mountain.png" alt=""></div>
                <div class="item"><img src="./img/mountain.png" alt=""></div>
            </div>
        </section>
        <section class="contact" id="contact">
            <h2 class="section-title">Contact</h2>
                <form action="" method="">
                    <label for="">Your Name</label>
                    <h3>Your Name</h3>
                    <label for="">Your E-mail</label>
                    <h3>Your E-mail</h3>
                    <label for="">Your Message</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam pellentesque finibus eros, quis tempor diam dignissim a.
                        Aliquam ut mi consectetur, sodales purus non, rhoncus est</p>
                    <div class="btns">
                        <button type="submit" name="back" class="btn1">Back</button>
                        <button type="submit" name="submit" class="btn2">Submit</button>
                    </div>
                </form>
        </section>
    </main>
    <footer>
        <div>
            <h3>Website1</h3>
            <ul>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>